<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">



    <bean id="myLoggerConfig" class="com.wuwi.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLoggerLevel" value="FINE"/>
    </bean>

    <context:property-placeholder location="classpath:sport.properties"/>

    <!--<bean id="myCoach"-->
    <!--class="TrackCoach">-->
    <!--</bean>-->

    <bean id="happyFortuneClass" class="com.wuwi.HappyFortuneClass"/>
    <bean id="randomFortuneClass" class="com.wuwi.RandomFortuneClass">
        <constructor-arg value="${data.array}"/>
    </bean>
    <bean id="setterService" class="com.wuwi.SetterFortuneClass"/>

    <!--zadanie domowe-->

    <!--<bean id="myCoach"-->
          <!--class="BaseballCoach">-->
        <!--&lt;!&ndash;<constructor-arg ref="happyFortuneClass"></constructor-arg>&ndash;&gt;-->
        <!--<constructor-arg ref="randomFortuneClass"></constructor-arg>-->
    <!--</bean>-->

    <bean id="myCoach"
          class="com.wuwi.PingPongCoach">
        <constructor-arg ref="happyFortuneClass"/>
        <property name="email" value="wuwix@pingpong.pl"/>
        <property name="team" value="pewepewe-team"/>
    </bean>

    <!--<bean id="myCoach" class="SetterCoach">-->
        <!--<property name="fortuneService" ref="setterService"/>-->
        <!--<property name="email" value="${data.email}"/>-->
        <!--<property name="team" value="${data.team}"/>-->
    <!--</bean>-->

</beans>





